body {
  margin: 0;
}

#home {
  display: grid;
  place-items: center;
  height: 100%;
  text-align: center;
}

#overlay {
  position: absolute;  /* let us position ourself inside the container */
  left: 0;             /* make our position the top left of the container */
  top: 0;
  color: white;
}

#world {
  position: fixed;
  overflow: hidden;
  cursor: grab;
}

#world:active {
  cursor: grabbing;
}

#button {
  background-color: whitesmoke;
}

button {
  position: relative;
  background: none;
  border: black;
  border-width: thick;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-style: solid;
  cursor: pointer;
  text-transform: uppercase;
}

.fill:hover {
  color: whitesmoke;
}

.fill:before {
  content: "";
  position: absolute;
  background: #383736;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition: top 0.09s ease-in;
}

.fill:hover:before {
  top: 0;
}
