@font-face {
  font-family: Poppins;
  src: url("./assets/Poppins-Light.ttf");
}

body {
  margin: 0;
  font-family: Poppins;
}

h2, h1 {
  padding-right: 10px;
  padding-left: 10px;
}

#home {
  display: grid;
  place-items: center;
  height: 100%;
  text-align: center;
}

.black {
  animation: fadeOut linear 1s;
  animation-fill-mode: forwards;
}

.white {
  animation: fadeIn linear 2s;
  animation-fill-mode: forwards;
}

.transparent {
  animation: fadeOpacity linear 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    background: #fff;
  }
  100% {
    background: #000;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 1000;
  pointer-events: none;
  color: white;
  display: grid;
  place-items: center;
  text-align: center;
}

#overlay {
  position: absolute;  /* let us position ourself inside the container */
  left: 0;             /* make our position the top left of the container */
  top: 0;
  color: white;
}

#overlayL {
  min-width: 850px;
  width: 50%;
  text-align: center;
  pointer-events: none !important;
  image-rendering: pixelated;
}

#overlayB {
  image-rendering: pixelated;
}

#world {
  position: fixed;
  overflow: hidden;
  cursor: grab;
}

#world:active {
  cursor: grabbing;
}

#button {
  background-color: whitesmoke;
}

#controls {
  position: absolute;
  bottom: 0;
  background: white;
  padding: 10px;
  border-radius: 3px;
  opacity: 50%;
}

.checkbox {
  transform: scale(1.5);
}

button {
  position: relative;
  background: none;
  border: black;
  border-width: thick;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-style: solid;
  cursor: pointer;
  text-transform: uppercase;
}

.fill:hover {
  color: whitesmoke;
}

.fill:before {
  content: "";
  position: absolute;
  background: #383736;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition: top 0.09s ease-in;
}

.fill:hover:before {
  top: 0;
}
